body {
  font-size: 16px;
  font-family: 'Times New Roman' serif;
  color:black
}

#navbar {
  background: gray;
  border: 20;
  padding-top: 30;
  border-radius: 10;
  opacity: .9;
  color:black;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border:1px solid black;
  padding: 10;
}

.navbar-brand {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 2 em;
    background-color:black;
}
#nav-list a{
  color: black;
  text-align: center;
}


#title {
  background: white;
  color: black;
  padding: 0px;
  width: 70%;
  margin: auto;
}

#mainContent {
  width: 70%;
}

.row {
  margin-top: 10px;
}

h3 {
  padding-top: 5px;
  color: black;
}

#textbox {
  background: gray;
  position: relative;
  height:1000px;
  width:100%;
  margin-left: 5%;
  margin-bottom: 5%;


}

#textbox section {
  padding: 15px;
  padding-top: 10px;
  color: black;
  
}

#textbox h2 {
  color: black;
}

#textbox a {
  margin-left: 50%;
  color:blue;
}

/****desktop*******/
@media (max-width: 1200px) {

  #title {
    width: 200px;
  }
    .col-xs-12 {
    width: 32%;
  }
 

}
/******tablet*****/
@media (min-width: 992px) and (max-width:1199px) {
  
  .col-xs-12{
    width: 100%;
  }

}
/***cell*****/
@media (min-width:768 px) and (max-width: 991px) {

  .col-sm-6 {
    width: 48.5%;
  }

  .col-xs-12 {
    width: 100%;
  }
}
